body {
  	background-color: white;
  	font-family: 'Raleway', sans-serif;
  	padding: 20px;
  	background: #f1f1f1;
}

/* Banner */
#banner {
	background-image: url("printed-circuit-board-print-plate-via-macro-159220.jpeg");
	background-size: cover;
	background-position: top center;
	height: 250px;
	width: 100%;
}

#banner .content h1 {
	border: 3px solid white;
	position: relative;
	color: white;
	top: 90px;
	width: 500px;
	margin: 0 auto;
	text-align: center;
}

/* Main body */
#main .content h3 {
	margin: 0 auto;
	top: 300px;
	width: 35%;
}

/* Menu */
.navbar {
  overflow: hidden;
  background-color: #5cb85c;
  position: fixed;
  top: 0;
  width: 96.1%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.navbar a.active {
  background-color: #2196F3;
  color: white;
}

.navbar .search-container {
  float: right;
}

.navbar input[type=text] {
  padding: 6px;
  border: none;
  margin-top: 8px;
  font-size: 17px;
}

.navbar .search-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.navbar .search-container button:hover {
  background: #ccc;
}

/* Login */

.login {
  padding: 7px;
  text-align: center;
  background: #5cb85c;
  margin-top: 20px;
}

/* Center Column */
.centercolumn {
	margin: auto;
	height: 50%;
	width: 50%;
}

/* Card effect for articles */
.card {
	background-color: white;
	padding: 20px;
	margin-top: 20px;
}

/* Footer */
.footer {
	padding: 7px;
	text-align: center;
	background: #5cb85c;
	margin-top: 20px;
}

/* Comment section */
#reply {
	margin: 0 auto;
	padding-top: 50px;
	width: 35%;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
